#games{
    .col-4{
        display: flex;
        justify-content: center;
    }

    .game{
        background-color: $light;
        border-radius: 40px;
        height: fit-content;
        width: 65%;
        @media(max-width: $mobile-max){
            width: 90%;
        }
        margin-bottom: 4rem;

        img{
            width: 100%;
            border-radius: 40px;
            margin-bottom: 1rem;
        }
        p{
            margin: {
                left: 1rem;
                right: 1rem;
            }
        }
        &__myRoles{
            margin-bottom: 1rem;
        }

    }
}