#nav{
    position: fixed;
    // top: 0px;
    width: 100%;
    margin: 0;
    padding: 1rem $side-padding;
    @media(max-width: $mobile-max){
        padding: 1rem $side-padding-mobile;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a{
        font-size: $largeFont;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    #nav__right a{
        margin-left: 1.5rem;
    }

    .navbar-toggler{
        outline: transparent;
        outline-color: transparent;
        box-shadow: none;
        border-color: transparent;

        &:focus{
            outline: transparent;
            outline-color: transparent;
            box-shadow: none;
            border-color: transparent;
        }
        &:focus-visible{
            outline: transparent;
            outline-color: transparent;
            box-shadow: none;
            border-color: transparent;
        }

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }

    #navbarToggler{
        justify-content: flex-end;

        .navbar-nav{
            margin: 0 !important;
        }
    }
}