$primary: #404552;
$light: #6B707E;
$dark: #191E2A;
$link: #EFD079;
$text: #FFFFFF;
//$side-padding: 174px;
$side-padding: 9%;
$vertical-padding: 4.5rem;
$smallFont: 14px;
$mediumFont: 16px;
$largeFont: 20px;